@charset "utf-8";

@media (max-width:1920px){
      #section-b{width: 100%;}
      #section-c{width: 100%;}
      .snip1543{width: 30%;}

}
@media (max-width:960px){
    .content-title1{
        /* margin-left: 50%; */
    }
    .content-title2{
        /* margin-left: -90%; */
        margin-bottom: 25px;
          }
    

    #container{
        width: 100%;
     }
    .box{
        display: none;
        
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: url(../img/main.png);
        color: #fff;
        font-size: 1.1em;
        line-height: 1.5;
        text-align: center;
      }
      .ph1{
        margin-left: -40%;
      }
    .ph2{
        /* margin-left: -170%; */
    }
    #showcase h1{
        display: block;
        width: 100%;
        font-size: 40px;
        margin-left: 2%;
    }
    .btn{
        margin-left: 3%;
    }
    /* p{
        margin-left: -90%;
    } */
  
    .content-wrap > p{
        margin-left: 40px;
    }
    .p1{
        /* margin-left: 5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
   
    .snip1543 img{
        width: 100%;
        height: 200px;
    }
    .h11{
        /* margin-left: -1000px; */
    }
    .h22{
        /* margin-left: -1000px; */
    }
    .text11{
        /* width: 100%; */
        margin-top: -20px;
        /* background-color: red; */
    }
    .text22{
        margin-top: -15px;
    }
    .contact-form{
        /* margin-left: -100px; */
    }
    .contact-form-container{
        margin-left: -50px;
    }
    
    .content-title{
        /* margin-left: -400px; */
     }
}
@media (min-width: 700px) {
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      /* grid-column: 1/4; */
    }
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }


@media (max-width:600px){
    #container{
        width: 100%;
     }
    .snip1543{
        display: none;
    }
    #showcase h1{
        /* margin-left: -500px; */
    }
    /* #showcase h1{
        font-size: 25px;
        margin-left: -100px;
        padding-bottom: 30px;
    } */
    #showcase p{
        /* margin-left: 70%; */
        /* margin-left: -1000px; */
        font-size: 15px;
    }
    .btn{
        /* margin-left: -1000px; */
    }

    /* .btn{
        text-align: center;
        line-height:15px;
        width: 30%;
        height: 50px;
        margin-left: -70%;
        margin-top:2%;
        font-weight: bold;
    } */
    .content-title{
        /* margin-left: -140%; */
        
    }
    .p1{
        /* margin-left: -500px; */
    }
    .h11{
        /* margin-right: 200px; */
    }
    .h22{
        /* margin-right: 200px; */
        font-size: 18px;
    }
    /* .contact-header{
        margin-right: 100px;
        margin-top: 5px;
    }
    .contact-form{
        margin-left: -150px;
        margin-top: 15px;
    } */
    
    /* .h11{
        margin-left: -1000px;
    }
    .h22{
        margin-left: -1000px;
    } */
    .text11{
        /* width: 100%; */
        margin-top: -0.01px;
        /* background-color: red; */
    }
    /* .text22{
        margin-top: -15px;
    } */
    /* .contact-form-container{
        margin-left: -40px;
    }
    .contact-form{
        margin-left: -20px;
    } */
    

     
     #main-footer{
        margin-left: -970px;
     }
}

@media (max-width:480px){
    #showcase h1{
        /* margin-left: -580px; */
    }
    #showcase p{
        /* margin-left: 70%; */
        /* margin-left: -1200px; */
        font-size: 14px;
    }
    .btn{
        margin-left: -1150px;
    }
    .content-title{
        /* margin-left: -172%; */
        
    }
    .p1{
        /* margin-left: -580px; */
    }
    
    .h11{
        /* margin-left: -1300px; */
    }
    .h22{
        display: none;
    }
    .contact-form{
        display: none;
    }
    #main-footer{
        display: none;
    }
    #overlay .nav{
        margin-bottom: 500px;
    }
    /* body{
        height: 500px;
    } */

}
    
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue), 10%, 10%);
		--fg: hsl(var(--hue), 10%, 90%);
		--primary: hsl(var(--hue), 90%, 70%);
	}
}


